    @media (max-width: 320px) {
    @import url(https://fonts.googleapis.com/css?family=Slabo+27px|(https://fonts.googleapis.com/css?family=Montserrat);
    body {
        font-family: 'Slabo 27px', Montserrat, serif;
        font-size: 12pt;
        overflow: auto;
        margin: auto;
        color: #808080;
        background-image: url(05-blackpaper.png);
        padding: 50px;
        max-width: 320px;
    }
    h1 {
        text-align: center;
        letter-spacing: 2px;
    }
    h1+p {
        text-align: center;
        letter-spacing: 2px;
    }
    img {
        max-height: 300px;
        border: 2px solid #808080;
        border-radius: 4px;
        padding: 5px;
        max-width: inherit;
    }
    p.description {
        text-align: left;
        max-width: inherit;
        line-height: 40px;
        letter-spacing: 2px;
        color: whitesmoke;
    }
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        width: 250px;
        display: inline-block;
    }
    ul+a {
        display: inline-block;
        width: 60px;
    }
    li a {
        display: block;
        text-align: center;
        padding-left: 10px;
        text-decoration: none;
        padding-bottom: 8px;
        padding top: 8px;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 2px;
        color: #dd363e;
    }
    li a:hover {
        background-color: #555;
        color: white;
        width: inherit;
    }
    img.mySlides {
        max-height: 300px;
        border: 2px solid #808080;
        border-radius: 4px;
    }