@import url(https://fonts.googleapis.com/css?family=Slabo+27px|(https://fonts.googleapis.com/css?family=Montserrat);
@media (max-width: 320px) {
    body {
        font-family: 'Slabo 27px', Montserrat, serif;
        font-size: 12pt;
        max-width: 960px;
        overflow: auto;
        position: relative;
        margin: auto;
        color: whitesmoke;
        background-image: url(05-blackpaper.png);
        padding: 50px;
    }
    header {
        align-content: center;
        overflow: auto;
        margin: inherit;
    }
    address {
        text-align: center;
        margin: inherit;
    }
    main {
        position: relative;
        margin: inherit;
    }
    h1 {
        position: relative;
        text-align: center;
        color: #dd363e;
        margin: inherit;
    }
    h2 {
        white-space: ;
    }
    h2,
    h3 {
        color: #dd363e;
        margin: inherit;
        padding-bottom: 7px;
    }
    h3,
    h4 {
        display: inline;
        color: #dd363e;
        margin: inherit;
    }
    h4 {
        font-size: 12px;
        position: relative;
        text-align: right;
        margin: inherit;
    }
    nav.secondarynav {
        margin: inherit;
        text-align: center;
        width: 250px;
        display: block;
    }
    nav.secondarynav li {
        display: inline;
    }
    nav.resumeheader {
        display: none;
    }
    nav.secondarynav li a {
        display: inline-block;
        padding: 10px;
    }
    nav.secondarynav a:hover {
        color: white;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    section {
        text-align: left;
        margin: inherit;
    }
    .beta table,
    .beta th,
    .beta td {
        border: 1px solid black;
    }
    a:link {
        color: #dd363e;
        text-decoration: none
    }
    a:visited {
        color: #555555;
    }
    a:hover {
        color: #878787;
    }
    a:active {
        color: #dd363e;
    }
}