@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    font-family: 'Slabo 27px', Montserrat, serif;
    font-size: 12pt;
    max-width: 960px;
    overflow: auto;
    margin: auto;
    color: whitesmoke;
    background-image: url(05-blackpaper.png);
    padding: 50px;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
    color: #dd363e;
}

h1+p {
    text-align: center;
    letter-spacing: 2px;
    color: #dd363e;
}

h2 {
    color: #dd363e;
}
h3 {
    text-align: center
}

img {
    max-height: 500px;
    border: 2px solid #808080;
    border-radius: 4px;
    padding: 5px;
    right: 20px;
    float: right;
}

p.description {
    text-align: left;
    max-width: 60%;
    line-height: 60px;
    letter-spacing: 2px;
}

Section p {
    line-height: 2em;
    text-indent: 50px;
}

section.essay {
    display: none;
    color: black;
    background-color: white;
    font-family: serif, Times New Roman;
}

ul {
   
}

ul+a {
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

 li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    padding-bottom: 8px;
    padding top: 8px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    color: #dd363e;
}

li a:hover {
    background-color: #555;
    color: white;
    width: inherit;
}

address.contact {
        
        text-align: center;
        align-content: center;
        
    }
address.contact a {
 color: #dd363e;
    text-decoration: none;
    
}
address.contact a:hover {
    color: white;
}